<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catalog</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="/static/styles/catalog.css" />
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="webcrumbs">
      <div class="grid sm:grid-cols-2 lg:grid-cols-2 gap-1 p-0">
        {% for item in items %}

        <div class="w-full rounded-lg card p-4">
          <section
            id="image-carousel{{ forloop.counter }}"
            class="splide"
            aria-label="Beautiful Images"
          >
            <div class="splide__track">
              <ul class="splide__list">
                {% for image in item.images %}
                <li class="splide__slide">
                  <img
                    class="w-full h-[100px] object-cover rounded-md"
                    src="{{ image }}"
                    alt=""
                  />
                </li>
                {% endfor %}
              </ul>
            </div>
          </section>
          <h2 class="font-title text-center text-title mt-4">
            {{ item.name }}
          </h2>
          <button
            onclick="iWant()"
            class="w-full button-primary text-white rounded-md mt-4 py-2"
          >
            Хочу!
          </button>
        </div>

        {% endfor %}
      </div>
    </div>
    <script>
      const tg = window.Telegram.WebApp;

      function iWant() {
        let url = encodeURI(
          "https://t.me/goodwin33/?text=Привет шалом хочу купить туфля 3000"
        );
        console.log(url);
        tg.openLink(url);
      }
    </script>

    <script>
      const itemsLength = parseInt("{{ items | length }}");

      document.addEventListener("DOMContentLoaded", function () {
        for (let i = 1; i < itemsLength + 1; i++) {
          new Splide(`#image-carousel${i}`, { arrows: false }).mount();
        }
      });
    </script>
  </body>
</html>
