<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catalog</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="/static/styles/catalog.css" />
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="webcrumbs">
      <div
        class="grid sm:grid-cols-2 lg:grid-cols-2 gap-1 p-0"
        id="cards"
      ></div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        stroke="#000"
        viewBox="0 0 48 48"
        class="spinner-loader"
      >
        <g class="spinner">
          <circle cx="24" cy="24" r="19" fill="none" stroke-width="3" />
        </g>
      </svg>
    </div>
    <script>
      const tg = window.Telegram.WebApp;

      function iWant() {
        let url = encodeURI(
          "https://t.me/goodwin33/?text=Привет шалом хочу купить туфля 3000"
        );
        console.log(url);
        tg.openLink(url);
      }
    </script>

    <script>
      function getParameterByName(name, defaultValue) {
        const urlParams = new URLSearchParams(window.location.search);
        let param = urlParams.get(name);
        if (!param) {
          return defaultValue;
        }
        return param;
      }

      function isElementInViewport(el) {
        if (typeof jQuery === "function" && el instanceof jQuery) {
          el = el[0];
        }

        var rect = el.getBoundingClientRect();

        return (
          rect.top >= 0 &&
          rect.left >= 0 &&
          rect.bottom <=
            (window.innerHeight || document.documentElement.clientHeight) &&
          rect.right <=
            (window.innerWidth || document.documentElement.clientWidth)
        );
      }

      function delay(time) {
        return new Promise((resolve) => setTimeout(resolve, time));
      }
    </script>

    <script>
      const cardsElement = document.getElementById("cards");
      const pageSize = parseInt(getParameterByName("page_size", "10"));
      var currentPage = parseInt(getParameterByName("page", "1"));
      var triggerElement;
      var lastFetchedURL;

      var splides = [];

      function recreateSplides(page) {
        console.log("update splide");
        //const start = pageSize * (page - 1) + 1;
        const start = 1;
        const end = pageSize * page + 1;

        // create Splide for new elements
        for (let i = start; i < end; i++) {
          try {
            // remove splide
            const carouselId = `#image-carousel${i}`;
            new Splide(carouselId, { destroy: "completely" });

            //document
            //  .getElementById(carouselId)
            //  .getElementsByClassName("splide__pagination")[0]
            //  .remove();

            var splideObject = new Splide(`#image-carousel${i}`, {
              arrows: false,
            });
            splides.push(splideObject);
          } catch (e) {
            console.log(e);
          }
        }
      }

      function updateSplide(page) {
        // destroy previous splides
        splides.forEach((splide) => {
          splide.destroy();
        });
        splides = [];

        recreateSplides(page);

        console.log(splides);
        splides.forEach((splide) => {
          if (!splide.state.is(Splide.STATES.MOUNTED)) splide.mount();
        });
      }

      async function insertAndCreateCards() {
        const url = `/catalog_items?page=${currentPage}&page_size=${pageSize}`;

        if (url === lastFetchedURL) {
          return;
        }

        const response = await fetch(url);
        const responseText = await response.text();
        cardsElement.innerHTML = cardsElement.innerHTML + responseText;
        updateSplide(currentPage);
        triggerElement = document.getElementById(
          `image-carousel${pageSize * currentPage}`
        );
        currentPage++;
        lastFetchedURL = url;
      }

      insertAndCreateCards();

      setInterval(() => {
        if (!triggerElement) {
          return;
        }

        if (isElementInViewport(triggerElement)) {
          insertAndCreateCards();
        }
      }, 1000);
    </script>
  </body>
</html>
