{% for item in items %}

<div class="w-full rounded-lg card p-4">
  <section
    id="image-carousel{{ forloop.counter|add:items_offset }}"
    class="splide"
    aria-label="Beautiful Images"
  >
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke-linecap="round"
      class="heart {% if item.liked %} liked {% endif %}"
      fill="none"
      id="heart{{ forloop.counter|add:items_offset }}"
      data-id="{{ item.id }}"
      onclick="toggleHeart(this)"
    >
      <path
        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
      ></path>
    </svg>
    <div class="splide__track">
      <ul class="splide__list">
        {% for image in item.images %}
        <li class="splide__slide">
          <img
            class="w-full object-cover rounded-md"
            src="{{ image }}"
            alt=""
          />
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <h2 class="font-title text-center text-title mt-4">{{ item.name }}</h2>
  <div class="bottom-btns">
    <button
      onclick="iWant('{{ item.name }}')"
      class="w-full button-primary text-white rounded-md mt-4 py-2"
    >
      Хочу!
    </button>
  </div>
</div>

{% endfor %}
