<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catalog</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="/static/styles/catalog.css" />
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="webcrumbs">
      <form onsubmit="onSearchSubmit(); return false;">
        <div class="search-container">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
            width="32px"
            height="32px"
            class="search-icon"
          >
            <path
              d="M 19 3 C 13.488281 3 9 7.488281 9 13 C 9 15.394531 9.839844 17.589844 11.25 19.3125 L 3.28125 27.28125 L 4.71875 28.71875 L 12.6875 20.75 C 14.410156 22.160156 16.605469 23 19 23 C 24.511719 23 29 18.511719 29 13 C 29 7.488281 24.511719 3 19 3 Z M 19 5 C 23.429688 5 27 8.570313 27 13 C 27 17.429688 23.429688 21 19 21 C 14.570313 21 11 17.429688 11 13 C 11 8.570313 14.570313 5 19 5 Z"
            />
          </svg>
          <input
            class="search"
            id="search"
            type="text"
            placeholder="Search..."
            aria-label="Search"
          />
        </div>
      </form>
      <div
        class="grid sm:grid-cols-2 lg:grid-cols-2 gap-1 p-0"
        id="cards"
      ></div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        stroke="#000"
        viewBox="0 0 48 48"
        class="spinner-loader"
        id="spinner"
      >
        <g class="spinner">
          <circle cx="24" cy="24" r="19" fill="none" stroke-width="3" />
        </g>
      </svg>
    </div>
    <script>
      const tg = window.Telegram.WebApp;
      if (!tg.isExpanded) tg.expand();

      function iWant() {
        let url = encodeURI(
          "https://t.me/goodwin33/?text=Привет шалом хочу купить туфля 3000"
        );
        console.log(url);
        tg.openLink(url);
      }
    </script>

    <script>
      const searchInput = document.getElementById("search");

      document.addEventListener("DOMContentLoaded", function () {
        searchInput.value = getParameterByName("search", "");
      });

      function onSearchSubmit(event) {
        const search = searchInput.value;
        const url = new URL(window.location.href);
        url.searchParams.set("search", search);
        window.location.href = url.toString();
        searchInput.value = search;
      }
    </script>

    <script>
      function toggleHeart(element) {
        let currentFill = element.getAttribute("fill");

        tg.HapticFeedback.impactOccurred("heavy");
        //tg.HapticFeedback.selectionChanged();

        if (currentFill == "none") {
          element.setAttribute("fill", tg.themeParams.button_color);
        } else {
          element.setAttribute("fill", "none");
        }
      }
    </script>

    <script>
      function getParameterByName(name, defaultValue) {
        const urlParams = new URLSearchParams(window.location.search);
        let param = urlParams.get(name);
        if (!param) {
          return defaultValue;
        }
        return param;
      }

      function isElementInViewport(el) {
        if (typeof jQuery === "function" && el instanceof jQuery) {
          el = el[0];
        }

        var rect = el.getBoundingClientRect();

        return (
          rect.top >= 0 &&
          rect.left >= 0 &&
          rect.bottom <=
            (window.innerHeight || document.documentElement.clientHeight) &&
          rect.right <=
            (window.innerWidth || document.documentElement.clientWidth)
        );
      }

      function delay(time) {
        return new Promise((resolve) => setTimeout(resolve, time));
      }
    </script>

    <script>
      const loaderElement = document.getElementById("spinner");
      const cardsElement = document.getElementById("cards");
      const pageSize = parseInt(getParameterByName("page_size", "10"));
      var currentPage = parseInt(getParameterByName("page", "1"));
      const search = getParameterByName("search", null);
      var triggerElement;
      var lastFetchedURL;

      var splides = [];

      function recreateSplides(page) {
        console.log("update splide");
        //const start = pageSize * (page - 1) + 1;
        const start = 1;
        const end = pageSize * page + 1;

        // create Splide for new elements
        for (let i = start; i < end; i++) {
          try {
            // remove splide
            const carouselId = `#image-carousel${i}`;

            var splideObject = new Splide(`#image-carousel${i}`, {
              arrows: false,
              pagination: true,
            });
            splides.push(splideObject);
          } catch (e) {
            console.log(e);
          }
        }

        // fix previous elements
        for (let i = start; i < end - pageSize; i++) {
          let carouselList = document.querySelector(`#image-carousel${i} > ul`);
          let childrenCount = carouselList.children.length;

          console.log(carouselList);
          console.log(childrenCount);

          let selector = `#image-carousel${i} > ul > li:nth-child(-n+${
            Math.round(childrenCount / 2) + 1
          })`;
          let elements = document.querySelectorAll(selector);
          for (let element of elements) {
            if (element) element.remove();
          }
        }
      }

      function updateSplide(page) {
        // destroy previous splides
        splides.forEach((splide) => {
          splide.destroy();
        });
        splides = [];

        recreateSplides(page);

        console.log(splides);
        splides.forEach((splide) => {
          if (!splide.state.is(Splide.STATES.MOUNTED)) splide.mount();
        });
      }

      async function insertAndCreateCards() {
        var url = `/catalog_items?page=${currentPage}&page_size=${pageSize}`;
        if (search) {
          url += `&search=${search}`;
        }

        if (url === lastFetchedURL) {
          console.log("END END");
          return;
        }

        const response = await fetch(url);
        const responseText = await response.text();
        cardsElement.innerHTML = cardsElement.innerHTML + responseText;
        updateSplide(currentPage);
        triggerElement = document.getElementById(
          `image-carousel${pageSize * currentPage}`
        );
        currentPage++;
        lastFetchedURL = url;
      }

      insertAndCreateCards();

      let intervalId = setInterval(() => {
        if (!triggerElement) {
          loaderElement.remove();
          console.log("LOADER END!");
          clearInterval(intervalId);
          return;
        }

        if (isElementInViewport(triggerElement)) {
          insertAndCreateCards();
        }
      }, 1000);
    </script>
  </body>
</html>
